header {
  position: sticky;
  left: 0;
  top: 0;
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

header .left-cont {
  margin: 0 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

header .left-cont .logo {
}

header .left-cont .nav-links ul {
  list-style: none;
  display: flex;
}

header .left-cont .nav-links li a {
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
header .left-cont .nav-links li a:hover {
  background-color: rgb(53, 53, 53);
}
header .right-cont {
  display: flex;
  gap: 60px;
  align-items: center;
  margin: 0 50px;
}

header .right-cont .search-cont {
  display: flex;
}
header .right-cont .search-cont input[type="text"] {
  height: 30px;
  width: 300px;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  border: none;
  outline: none;
}
header .right-cont .search-cont button {
  padding: 0 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

header .right-cont .nav-icons {
  display: flex;
  gap: 30px;
}
header .right-cont .nav-icons a {
  color: white;
}

#book-desk {
  flex-grow: 1;
}
#main {
  width: 65%;
  height: 700px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: white;
}
#book {
  margin-bottom: 90px;
}
#book1 {
  margin-bottom: 90px;
}
body {
  background-color: rgb(211, 207, 207);
  margin: 0;
}
/* div{background-color: white;                     
} */
.remove-icon {
  cursor: pointer;
  position: absolute;
  top: 155px;
  right: 40%;
  padding: 5px;
}
.remove-icon1 {
  cursor: pointer;
  position: absolute;
  top: 340px;
  right: 40%;
  padding: 5px;
}
.remove-icon2 {
  cursor: pointer;
  position: absolute;
  top: 500px;
  right: 40%;
  padding: 7px;
}
#check-button {
  background-color: rgb(9, 139, 9);
  border: none;
  width: 40%;
  height: 30px;
  color: white;
  margin-bottom: 5px;
}
#checkout {
  width: 30%;
  border-radius: 5px;
  text-align: center;
  margin-left: 970px;
  margin-top: -41.3em;
  word-spacing: 10px;
  background-color: white;
}
footer {
  height: 300px;
  background-color: rgb(31, 31, 31);
  display: flex;
  align-items: center;
}

footer .cols {
  display: flex;
  margin: 0 50px;
  align-items: center;
  width: 100%;
  gap: 50px;
  flex-grow: 1;
}

footer .cols .col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
footer .col ul {
  list-style: none;
  padding: 0;
}
footer .col ul li {
  margin: 10px 0;
}

footer .col ul a {
  text-decoration: none;
  color: #d9d9d9;
}
footer .col ul a:hover {
  text-decoration: underline;
}

footer .cols .col .cont-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .col .follow-us {
  font-size: 30px;
  font-weight: bold;
}
footer .col .social-icons img {
  height: 50px;
}
