html,body {
    height:100%;
}

body {
    margin:0;
    padding: 0;
}

header {
    position: sticky;
    left: 0;
    top: 0;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
}

header .left-cont {

    margin: 0 50px;
    display: flex;
    align-items: center;
    gap:20px;
}

header .left-cont .logo {
}

header .left-cont .nav-links ul {
    list-style: none;
    display: flex;
}

header .left-cont .nav-links li a {
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
header .left-cont .nav-links li a:hover {
    background-color: rgb(53, 53, 53);   

}
header .right-cont {
    display: flex;
    gap: 60px;
    align-items: center;
    margin: 0 50px
}

header .right-cont .search-cont {
    display: flex;
    
}
header .right-cont .search-cont input[type="text"] {
    height: 30px;
    width: 300px;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    border:none;
    outline: none;
}
header .right-cont .search-cont button {
    padding: 0 15px;
    border:none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

header .right-cont .nav-icons {
    display: flex;
    gap: 30px;

}
header .right-cont .nav-icons a {
    color: white;
}
.wrapper {
    display: flex;
    gap: 50px;
    justify-content: center;
    background-color: #d9d9d9;
    padding: 50px;
}

.container {
    background-color: #fff;
    width: 100%;
    display: flex;
    gap: 35px;
    border-radius: 7px;
    padding: 30px 0 50px 0;

}
.container .col-one {
    display: flex; 
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
}
.container .col-two {
    padding: 20px;
    color: rgb(31, 31, 31, .75);
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    

}
.container .col-two .info  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.container .col-two .map-cont  {
    margin-top: 30px;
    display: flex;
}
.container .col-two h2 {
    font-size: 24px;
    padding: 5px 0;
    border-bottom: 1px solid rgb(31, 31, 31, .25);


}
.container .col-one h1 {
    font-size: 24px;
    padding: 5px 0;
    border-bottom: 1px solid rgb(31, 31, 31, .25);

}
.container .col-one form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.container .col-one form div {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 5px;
}

.container .col-one form label {
    font-size: 18px;
}

.container .col-one form input {
    max-width: 450px;
    border-radius: 4px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    color: rgb(31, 31, 31, .75);
    border: 1px solid rgb(53, 53, 53, .25);
}
.container .col-one form input[type='submit'] {
    background-color: cornflowerblue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.container .col-one form input[type='submit']:hover{
    background-color: lightgreen;
}

.container .col-one form textarea {
    border: 1px solid rgb(53, 53, 53, .25);
    outline: none;
}
footer {
    height: 200px;
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    
}

footer .cols {
    display: flex;
    margin: 0 50px;
    align-items: center;
    width: 100%;
    gap: 50px;
    flex-grow: 1;
}

footer .cols .col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;

}
footer .col ul {
    list-style: none;
    padding:0;
}
footer .col ul li{
    margin: 10px 0;
}


footer .col ul a{
    text-decoration: none;
    color: #d9d9d9;
}
footer .col ul a:hover {
    text-decoration: underline;
}

footer .cols .col .cont-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .col .follow-us {
    font-size: 30px;
    font-weight: bold;
}
footer .col .social-icons img {
    height: 50px;
}