<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/adminLogin.css" />
  </head>
  <body>
    <div class="cont">
      <h2>Admin login</h2>
      <div class="Admin">
        <form action="">
          <br />
          <label for="username">username</label><br />
          <input
            type="text"
            placeholder="please enter a username"
            class="input"
          /><br />
          <label for="password">password</label><br />
          <input
            type="password"
            placeholder="please enter a password"
            class="input"
          /><br /><br />
          <button class="btn">Login</button><br /><br />
        </form>
      </div>
    </div>
  </body>
</html>
