<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events | Jafer Books</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../public/css/event.css" />
  </head>
  <body>
    <header>
      <div class="left-cont">
        <div class="logo">
          <h2>Logo</h2>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./books.html">Books</a></li>
            <li><a href="./event.html">Events</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./about.html">About</a></li>
          </ul>
        </div>
      </div>
      <div class="right-cont">
        <div class="search-cont">
          <input type="text" />
          <button><i class="fa-solid fa-search"></i></button>
        </div>
        <div class="nav-icons">
          <a href="./cart.html">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
          <a href="#">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
      </div>
    </header>

    <div class="wrapper">
      <div class="cont">
        <h2>Upcoming Events</h2>
        <section class="A">
          <div class="im">
            <img
              src="../../public/images/eve.jpg"
              alt="book"
              style="width: 350px; height: 200px"
            />
          </div>
          <div class="abt">
            <br />
            <h3>Book Exhibition</h3>
            <br />
            <p>
              Immerse yourself in the magic of words at our upcoming book
              exhibitin! From timless classic to <br />
              contemporary masterpieces , join us on a journey through the
              reaims of imagination and <br />
              knowledge. <br /><br />

              Mon, Dec 11.7:00 PM
            </p>
          </div>
        </section>
        <br /><br />

        <section class="A">
          <div class="im">
            <img
              src="../../public/images/eve.jpg"
              alt="book"
              style="width: 350px; height: 220px"
            />
          </div>
          <div class="abt">
            <br />
            <h3>Book Exhibition</h3>
            <br />
            <p>
              Immerse yourself in the magic of words at our upcoming book
              exhibitin! From timless classic to <br />
              contemporary masterpieces , join us on a journey through the
              reaims of imagination and <br />
              knowledge. <br /><br />

              Mon, Dec 11.7:00 PM
            </p>
          </div>
        </section>
        <br /><br /><br />

        <section class="A">
          <div class="im">
            <img
              src="../../public/images/eve.jpg"
              alt="book"
              style="width: 350px; height: 200px"
            />
          </div>
          <div class="abt">
            <br />
            <h3>Book Exhibition</h3>
            <br />
            <p>
              Immerse yourself in the magic of words at our upcoming book
              exhibitin! From timless classic to <br />
              contemporary masterpieces , join us on a journey through the
              reaims of imagination and <br />
              knowledge. <br /><br />

              Mon, Dec 11.7:00 PM
            </p>
          </div>
        </section>
        <br /><br />

        <section class="A">
          <div class="im">
            <img
              src="../../public/images/eve.jpg"
              alt="book"
              style="width: 350px; height: 200px"
            />
          </div>
          <div class="abt">
            <br />
            <h3>Book Exhibition</h3>
            <br />
            <p>
              Immerse yourself in the magic of words at our upcoming book
              exhibitin! From timless classic to <br />
              contemporary masterpieces , join us on a journey through the
              reaims of imagination and <br />
              knowledge. <br /><br />

              Mon, Dec 11.7:00 PM
            </p>
          </div>
        </section>
        <br />
      </div>
    </div>
    <br />

    <footer>
      <div class="cols">
        <div class="col">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./books.html">Books</a></li>
            <li><a href="./event.html">Events</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./about.html">About</a></li>
          </ul>
        </div>
        <div class="col">
          <span>For Any Information, Pelase Don't Hesitate to Contact Us</span>
          <div class="cont-info">
            <span>Email: info@jaferbooks.com</span>
            <span>Phone: +251-919-36-9842/ +251-911-53-3424</span>
            <span>Address: Legare,Addis Ababa, Ethiopia</span>
          </div>
        </div>
        <div class="col">
          <span class="follow-us">Follow us</span>
          <div class="social-icons">
            <img src="facebook_icon.png" alt="facebook_icon" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
