html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  left: 0;
  top: 0;
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
}

header .left-cont {
  margin: 0 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

header .left-cont .logo {
}

header .left-cont .nav-links ul {
  list-style: none;
  display: flex;
}

header .left-cont .nav-links li a {
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
header .left-cont .nav-links li a:hover {
  background-color: rgb(53, 53, 53);
}
header .right-cont {
  display: flex;
  gap: 60px;
  align-items: center;
  margin: 0 50px;
}

header .right-cont .search-cont {
  display: flex;
}
header .right-cont .search-cont input[type="text"] {
  height: 30px;
  width: 300px;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  border: none;
  outline: none;
}
header .right-cont .search-cont button {
  padding: 0 15px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

header .right-cont .nav-icons {
  display: flex;
  gap: 30px;
}
header .right-cont .nav-icons a {
  color: white;
}
.wrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
  background-color: #d9d9d9;
  padding: 50px;
}

.wrapper .categories-cont {
  width: 22%;
  background-color: #fff;
  height: 100%;
  border-radius: 7px;
}

.wrapper .categories-cont .title-cont {
  text-align: center;
  font-size: 16px;
  border-bottom: 2px solid lightgray;
}
.wrapper .categories-cont .list-cont {
  padding: 10px 0;
}
.wrapper .categories-cont .list-cont ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin: 0 25px;
  padding: 0;
}

.wrapper .categories-cont .list-cont ul li a {
  color: black;
  text-decoration: none;
}
.wrapper .categories-cont .list-cont ul li a:hover {
  text-decoration: underline;
}

.wrapper .main-cont {
  padding: 20px 20px;
  width: 78%;
  height: 100%;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.wrapper .main-cont .row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.wrapper .main-cont .row .title-cont {
  font-size: 20px;
}

.wrapper .main-cont .row .books-list-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.wrapper .main-cont .row .books-list-cont .book-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-decoration: none;
  color: #353535;
  width: 177px;
}

.wrapper .main-cont .row .books-list-cont .book-item .img-cont {
  height: 250px;
}
.wrapper .main-cont .row .books-list-cont .book-item .img-cont img {
  width: 100%;
  height: 100%;
}

.wrapper .main-cont .row .books-list-cont .book-item .book-title {
  font-size: 18px;
}

.wrapper .main-cont .row .books-list-cont .book-item .book-author {
}
footer {
  height: 200px;
  background-color: rgb(31, 31, 31);
  display: flex;
  align-items: center;
}

footer .cols {
  display: flex;
  margin: 0 50px;
  align-items: center;
  width: 100%;
  gap: 50px;
  flex-grow: 1;
}

footer .cols .col {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
footer .col ul {
  list-style: none;
  padding: 0;
}
footer .col ul li {
  margin: 10px 0;
}

footer .col ul a {
  text-decoration: none;
  color: #d9d9d9;
}
footer .col ul a:hover {
  text-decoration: underline;
}

footer .cols .col .cont-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .col .follow-us {
  font-size: 30px;
  font-weight: bold;
}
footer .col .social-icons img {
  height: 50px;
}
